*{
  margin: 0;
}
.app{
  background-color: #FAFAFA;
  height: 100vh;
}
.app_header{
  position: sticky;
  top: 0;
  object-fit: contain;
  background-color: white;
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app_header_image{
  width: 100px;
  margin-top: 10px;
  object-fit: contain;
}
.app_signup{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app_login_container{
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.logout{
  margin-top: 10px;
}
.app_post_container{
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  justify-content: center;
}
